* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.produtos {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1%;

    .produto {
        // Estilos para o bloco `.produto`
        &__control {
            // Estilos para o bloco `.produto__control`
            color: blue;
        }

        &__imagem {
            // Estilos para o elemento `.produto__imagem`
            width: 100%;
        }

        &__nome {
            // Estilos para o elemento `.produto__nome`
            font-size: 1.2em;
            margin: 8px 0;
        }

        &__descricao {
            // Estilos para o elemento `.produto__descricao`
            color: gray;
        }
    

    &--em-destaque {
        // Estilos para o modificador `.produto--em-destaque`
        border: 2px solid gold;
        padding: 8px;
        background-color: #ffff42;
    }
}}


